.downloadthis:focus,
  .downloadthis:active  {
     box-shadow: none !important;
  }
  
  .downloadthis:hover {
     transition: 0.2s;
     filter: brightness(0.90);
  }
  
  .downloadthis:active {
     filter: brightness(0.80);
}

.downloadthis {
  max-width: 125px; /* Adjust this value as needed */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Optional: hides any content that overflows */
  text-overflow: ellipsis; /* Optional: add ellipsis for long text */
  display: inline-block; /* Keeps it from stretching */
}